@import "tailwindcss";

/* Rails Blocks Custom CSS */

/* Scroll Area Fade Effects */
.scroll-fade-x,
.scroll-fade-y,
.scroll-fade-both {
  --fade-size: 40px;
  --fade-left-offset: 0px;
  --fade-top-offset: 0px;
  --fade-start-opacity: 1;
  --fade-end-opacity: 1;
  --fade-start-x-opacity: var(--fade-start-opacity);
  --fade-end-x-opacity: var(--fade-end-opacity);
  --fade-start-y-opacity: var(--fade-start-opacity);
  --fade-end-y-opacity: var(--fade-end-opacity);
}

.scroll-fade-x,
.scroll-fade-both {
  mask-image:
    linear-gradient(to right,
      black var(--fade-left-offset),
      hsl(0 0% 0% / var(--fade-start-x-opacity)) var(--fade-left-offset),
      black calc(var(--fade-left-offset) + var(--fade-size)),
      black calc(100% - var(--fade-size)),
      hsl(0 0% 0% / var(--fade-end-x-opacity))
    );
  -webkit-mask-image:
    linear-gradient(to right,
      black var(--fade-left-offset),
      hsl(0 0% 0% / var(--fade-start-x-opacity)) var(--fade-left-offset),
      black calc(var(--fade-left-offset) + var(--fade-size)),
      black calc(100% - var(--fade-size)),
      hsl(0 0% 0% / var(--fade-end-x-opacity))
    );
  
  transition: --fade-start-x-opacity 300ms ease-out, --fade-end-x-opacity 300ms ease-out;
}

.scroll-fade-y,
.scroll-fade-both {
  mask-image:
    linear-gradient(to bottom,
      black var(--fade-top-offset),
      hsl(0 0% 0% / var(--fade-start-y-opacity)) var(--fade-top-offset),
      black calc(var(--fade-top-offset) + var(--fade-size)),
      black calc(100% - var(--fade-size)),
      hsl(0 0% 0% / var(--fade-end-y-opacity))
    );
  -webkit-mask-image:
    linear-gradient(to bottom,
      black var(--fade-top-offset),
      hsl(0 0% 0% / var(--fade-start-y-opacity)) var(--fade-top-offset),
      black calc(var(--fade-top-offset) + var(--fade-size)),
      black calc(100% - var(--fade-size)),
      hsl(0 0% 0% / var(--fade-end-y-opacity))
    );
  
  transition: --fade-start-y-opacity 300ms ease-out, --fade-end-y-opacity 300ms ease-out;
}

.scroll-fade-both {
  mask-image:
    linear-gradient(to right,
      black var(--fade-left-offset),
      hsl(0 0% 0% / var(--fade-start-x-opacity)) var(--fade-left-offset),
      black calc(var(--fade-left-offset) + var(--fade-size)),
      black calc(100% - var(--fade-size)),
      hsl(0 0% 0% / var(--fade-end-x-opacity))
    ),
    linear-gradient(to bottom,
      black var(--fade-top-offset),
      hsl(0 0% 0% / var(--fade-start-y-opacity)) var(--fade-top-offset),
      black calc(var(--fade-top-offset) + var(--fade-size)),
      black calc(100% - var(--fade-size)),
      hsl(0 0% 0% / var(--fade-end-y-opacity))
    );
  -webkit-mask-image:
    linear-gradient(to right,
      black var(--fade-left-offset),
      hsl(0 0% 0% / var(--fade-start-x-opacity)) var(--fade-left-offset),
      black calc(var(--fade-left-offset) + var(--fade-size)),
      black calc(100% - var(--fade-size)),
      hsl(0 0% 0% / var(--fade-end-x-opacity))
    ),
    linear-gradient(to bottom,
      black var(--fade-top-offset),
      hsl(0 0% 0% / var(--fade-start-y-opacity)) var(--fade-top-offset),
      black calc(var(--fade-top-offset) + var(--fade-size)),
      black calc(100% - var(--fade-size)),
      hsl(0 0% 0% / var(--fade-end-y-opacity))
    );
  mask-composite: intersect;
  -webkit-mask-composite: source-in;

  transition: --fade-start-x-opacity 300ms ease-out, --fade-end-x-opacity 300ms ease-out,
              --fade-start-y-opacity 300ms ease-out, --fade-end-y-opacity 300ms ease-out;
}

[data-overflow-x-start] .scroll-fade-x,
[data-overflow-x-start] .scroll-fade-both {
  --fade-start-opacity: 0;
  --fade-start-x-opacity: 0;
}

[data-overflow-x-end] .scroll-fade-x,
[data-overflow-x-end] .scroll-fade-both {
  --fade-end-opacity: 0;
  --fade-end-x-opacity: 0;
}

[data-overflow-y-start] .scroll-fade-y,
[data-overflow-y-start] .scroll-fade-both {
  --fade-start-opacity: 0;
  --fade-start-y-opacity: 0;
}

[data-overflow-y-end] .scroll-fade-y,
[data-overflow-y-end] .scroll-fade-both {
  --fade-end-opacity: 0;
  --fade-end-y-opacity: 0;
}

/* Cursor pointer for buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Toast Notifications */
.toast-item {
  @apply absolute w-full left-0 select-none;
  z-index: var(--toast-z-index, 100);

  top: var(--toast-top, auto);
  bottom: var(--toast-bottom, auto);
  transform: var(--toast-transform, translateY(0));
  scale: var(--toast-scale, 100%);
  opacity: var(--toast-opacity, 1);

  transition: transform 400ms ease, opacity 400ms ease, scale 400ms ease, top 400ms ease, bottom 400ms ease,
    height 200ms ease;
}

.toast-item[data-mounted="false"] {
  opacity: 0;
}

.toast-item[data-mounted="false"][data-position*="bottom"] {
  transform: translateY(100%);
}

.toast-item[data-mounted="false"][data-position*="top"] {
  transform: translateY(-100%);
}

.toast-item[data-removed="true"] {
  opacity: 0;
  scale: 95%;
  pointer-events: none;
}

.toast-item[data-removed="true"][data-expanded="false"][data-position*="bottom"] {
  transform: translateY(calc(var(--toast-index) * 14px + 5%));
}

.toast-item[data-removed="true"][data-expanded="false"][data-position*="top"] {
  transform: translateY(calc(-1 * (var(--toast-index) * 14px + 5%)));
}

.toast-item[data-removed="true"][data-overflow="true"][data-expanded="false"][data-position*="bottom"] {
  transform: translateY(calc(-1 * (var(--toast-index) * 14px + 25%)));
  scale: 78%;
}

.toast-item[data-removed="true"][data-overflow="true"][data-expanded="false"][data-position*="top"] {
  transform: translateY(calc(var(--toast-index) * 14px + 25%));
  scale: 78%;
}

.toast-item[data-visible="false"] {
  pointer-events: none;
}

.toast-item[data-expanded="true"] {
  --toast-scale: 100%;
  height: var(--initial-height);
}

.toast-item[data-expanded="true"][data-position*="bottom"] {
  --toast-top: auto;
  --toast-bottom: var(--toast-offset, 0px);
  --toast-transform: translateY(0);
}

.toast-item[data-expanded="true"][data-position*="top"] {
  --toast-top: var(--toast-offset, 0px);
  --toast-bottom: auto;
  --toast-transform: translateY(0);
}

.toast-item[data-expanded="false"][data-front="true"] {
  --toast-scale: 100%;
  --toast-opacity: 1;
  height: var(--initial-height);
}

.toast-item[data-expanded="false"][data-front="true"][data-position*="bottom"] {
  --toast-top: auto;
  --toast-bottom: 0px;
  --toast-transform: translateY(0);
}

.toast-item[data-expanded="false"][data-front="true"][data-position*="top"] {
  --toast-top: 0px;
  --toast-bottom: auto;
  --toast-transform: translateY(0);
}

.toast-item[data-expanded="false"]:not([data-front="true"]) {
  height: var(--front-toast-height);
  overflow: hidden;
  --toast-scale: calc(100% - (var(--toast-index) * 6%));
  display: flex;
  flex-direction: column;
}

.toast-item[data-expanded="false"]:not([data-front="true"])[data-position*="bottom"] {
  --toast-top: auto;
  --toast-bottom: 0px;
  --toast-transform: translateY(calc(-1 * var(--toast-index) * 14px));
  justify-content: flex-start;
}

.toast-item[data-expanded="false"]:not([data-front="true"])[data-position*="top"] {
  --toast-top: 0px;
  --toast-bottom: auto;
  --toast-transform: translateY(calc(var(--toast-index) * 14px));
  justify-content: flex-end;
}

.toast-item[data-expanded="false"][data-visible="false"] {
  --toast-opacity: 0;
  --toast-scale: 82%;
}

.toast-item[data-expanded="false"][data-visible="false"][data-position*="bottom"] {
  --toast-top: auto;
  --toast-bottom: -200px;
  --toast-transform: translateY(0);
}

.toast-item[data-expanded="false"][data-visible="false"][data-position*="top"] {
  --toast-top: -200px;
  --toast-bottom: auto;
  --toast-transform: translateY(0);
}
